@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap");
* {
  margin: 0;
  padding: 0; }

header {
  width: 100%; }

h1 {
  color: #091a64;
  font-family: 'Oswald', sans-serif; }

h2 {
  color: #091a64;
  font-family: 'Oswald', sans-serif; }

img {
  height: auto;
  max-width: 100%; }

main {
  flex-grow: 1; }

a {
  color: white;
  display: block;
  text-decoration: none; }

li a:hover {
  transition: 1s;
  transform: scale(1.2); }

ul {
  list-style: none;
  text-align: center; }

input[type=checkbox] {
  display: none; }

nav {
  background-color: #091a64;
  padding: 5px; }

footer {
  bottom: 0;
  text-align: center;
  background-color: #091a64;
  width: 100%;
  height: 2.5rem; }
  footer p {
    right: 1em;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-weight: bold; }

.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
  justify-content: center; }
  .menu li {
    padding: 5px 14px; }

.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
  color: white; }

.nav-links a {
  color: white;
  display: block;
  font: larger; }

.auto-slider {
  position: relative;
  box-sizing: content-box;
  display: inline-block;
  padding: 10px 10px 20px 10px;
  background: #fff;
  max-width: 720px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 4px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4); }

div#slider {
  overflow: hidden; }

div#slider figure img {
  width: 20%;
  float: left; }

div#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 15s sliding ease infinite; }

/* Slider indicator */
.indicator {
  width: 100%;
  max-width: 720px;
  height: 6px;
  background: #e41b17;
  position: absolute;
  bottom: 0;
  animation: indicating 5s ease infinite; }

@keyframes sliding {
  0% {
    left: 0%; }
  20% {
    left: -100%; }
  40% {
    left: -200%; }
  60% {
    left: -300%; }
  80% {
    left: -400%; }
  100% {
    left: 0%; } }

@keyframes indicating {
  from {
    left: -100%; }
  to {
    left: 0; } }

.modal {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  transition: all 1s; }

.modal__contenido {
  background-color: #2951f0;
  width: 750px;
  margin: 10% auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .modal__contenido h2 {
    color: white;
    font-family: 'Oswald', sans-serif; }
  .modal__contenido header {
    background-color: #2951f0;
    width: 100%;
    text-align: right; }
    .modal__contenido header a {
      color: white;
      text-decoration: none;
      right: 1em; }
    .modal__contenido header a:hover {
      transform: none;
      transition: none; }
  .modal__contenido ul {
    padding: 1em; }
    .modal__contenido ul li {
      color: white; }

.modal__cabezal {
  background-color: #091a64;
  align-items: right; }

.modal:target {
  opacity: 1;
  pointer-events: auto; }

.contenedorColumnas, .raiz, .bienvenida, .auto {
  display: flex;
  flex-direction: column; }

.espacio {
  padding-top: 1em;
  padding-bottom: 1em; }

.raiz {
  height: 100vh; }

.contenido {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.bienvenida {
  align-items: center; }

.encabezado {
  display: inline-flex;
  background-color: white;
  width: 100%;
  justify-content: space-between;
  align-items: center; }

.auto {
  align-items: center;
  padding-top: 2em;
  padding-bottom: 2em; }
  .auto img {
    size: 40%;
    padding: 1em; }
  .auto a {
    color: #091a64;
    font-weight: bold;
    text-decoration: underline;
    font-style: italic; }
  .auto a:hover {
    transition: 1s;
    transform: scale(1.2); }
  .auto p {
    font-weight: bold; }

.cuadro {
  background-color: #091a64;
  flex-direction: column;
  padding: 2em;
  margin: 2em; }
  .cuadro ul li {
    padding: 1em; }
    .cuadro ul li h3,
    .cuadro ul li h4 {
      color: white;
      font-size: xx-large;
      font-weight: bold; }
    .cuadro ul li p {
      color: white;
      font-size: large; }
    .cuadro ul li ul li {
      color: white; }

input[type=text],
input[type=password],
input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box; }

/* Set a style for all buttons */
button {
  background-color: #d30505;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%; }

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8; }

/* Add padding to containers */
.container {
  padding: 16px; }

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px; }

@media (max-width: 768px) {
  .menu {
    display: none;
    position: absolute;
    background-color: #091a64; }
    .menu li :hover {
      display: inline-block;
      transform: none; }
  h1 {
    font-size: large;
    font-family: 'Oswald', sans-serif; }
  input[type=checkbox]:checked ~ .menu {
    display: block;
    left: 0; }
  .hamburger {
    padding-left: 2%;
    display: flex; }
  footer p {
    font-size: small; }
  .modal__contenido {
    width: 400px; }
  span.psw {
    display: block;
    float: none; }
  .cancelbtn {
    width: 100%; }
  input[type=text],
  input[type=password],
  input[type=email] {
    width: 100%; } }
