// Aca van las modificaciones generales para las etiquetas
@import "estilos";

header {
    width: 100%;
}

h1 {
    color: map-get($colores, colorPrimario);
    font-family: 'Oswald', sans-serif;
}

h2 {
    color: map-get($colores, colorPrimario);
    font-family: 'Oswald', sans-serif;
}

img {
    height: auto;
    max-width: 100%;
}

main {
    flex-grow: 1;
}

a {
    color: map-get($colores, colorSecundario);
    display: block;
    text-decoration: none;
}

li a:hover {
    transition: 1s;
    transform: scale(1.2);
}

ul {
    list-style: none;
    text-align: center;
}

input[type=checkbox] {
    display: none;
}

nav {
    background-color: map-get($colores, colorPrimario);
    padding: 5px;
}

footer {
    bottom: 0;
    text-align: center;
    background-color: map-get($colores, colorPrimario);
    width: 100%;
    height: 2.5rem;

    p {
        right: 1em;
        color: map-get($colores, colorSecundario);
        font-family: 'Oswald', sans-serif;
        font-weight: bold;
    }
}