* {
    margin: 0;
    padding: 0;
}

@import "etiquetas";
@import "estructuras";

@media (max-width: 768px) {
    .menu {
        display: none;
        position: absolute;

        li {
            :hover {
                display: inline-block;
                transform: none;
            }
        }
    }

    h1 {
        font-size: large;
    }

    input[type=checkbox]:checked~.menu {
        display: block;
        left: 0;
    }

    .hamburger {
        padding-left: 2%;
        display: flex;
    }

    footer {

        p {
            font-size: small;
        }
    }

    .modal__contenido {
        width: 85%;
    }

    span.psw {
        display: block;
        float: none;
    }

    .cancelbtn {
        width: 100%;
    }

    input[type=text],
    input[type=password],
    input[type=email] {
        width: 100%;
    }
}